doctype html 
html
  head
    title=title
    link(rel='stylesheet', href='/style.css')
    script(defer='' src='https://use.fontawesome.com/releases/v5.6.3/js/all.js' integrity='sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1' crossorigin='anonymous')
    meta(name='viewport' content='windth=device-width, initial-scale=1')
body 
  .wrap
    .displayPict
      img.cover(src=images[6].images.standard_resolution.url)
    .content
      h1=name
      //- a(href=homePage) website
      p=bio
  .images
    each image, i in images
      .image
        h1.postinfo
          i.fas.fa-heart
          =image.likes.count+" "
          i.fas.fa-comment
          =image.comments.count
        img.shots(src=image.images.standard_resolution.url)
        
  a.logout(href='/logout') Logout